@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
        font-weight: 400;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-size: normal;
}
/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark-blue: #283136;
  --basic-neutral: #666666;
  --basic-logo-active: #a6a6a6;
  --basic-grey: #4D4D4D;
  --basic-light: #eeeeee;
  --basic-light-hover: #DFDFDF;
  --basic-light-push: #D5D5D5;
  --basic-dark: #444444;
  --basic-extra-light: #f8f5f2;
  --basic-light-dark: #dbdbdb;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-push: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-push: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-push: #E5A722;
}
/* Global */
.page-body {
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(---basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}
li {
  list-style: none;
}

img {
  max-width: 100%;
}
.visuality-hidden {
  display: none;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.header {
  margin-bottom: 0;
  padding-top: 47px;
  background-color: var(--basic-light);
}

/* Header */
.header .container-head {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.site-logo:hover path {
  fill: rgba(0, 0, 0, 0.7);
}
.site-logo:active path {
  fill: rgba(0, 0, 0, 0.3);
}
.site-logo {
  height: 66px;
}
.site-cart {
  margin-left: auto;
  align-self: center;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  height: 38px;
  align-self: flex-end;
  line-height: 30px;
}
.site-cart-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 2px;
  right: 101px;
}
.site-cart .site-cart-link {
  position: relative;
}

.navigation {
  display: flex;
  width: 800px;
  justify-content: space-between;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 437px;
  justify-content: space-between;
  margin: 0;
  align-self: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  height: 38px;
}
.site-navigation a,
.site-cart a {
  color: var(--basic-black);
}
.site-navigation a:hover,
.site-cart a:hover {
  color: var(--basic-red);
  padding-bottom: 13px;
}
.site-navigation a:focus,
.site-cart a:focus {
  color: var(--basic-black);
  opacity: 30%;
}
.site-navigation-current {
  border-bottom: 2px solid var(--basic-red);
}
/*main*/
.slider-main {
  background-color: var(--basic-light);
  margin-bottom: 80px;
}
.slider-container{
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 1157px;
  height: 431px;
  background-color: var(--basic-light);
}
.catalog-name {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-light);
}
.slider {
  display: none;
}
.slide-current {
  display: block;
}
.slider:nth-child(1) {
  background: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 431px;
}
.slider:nth-child(2) {
  background: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 431px;
}
.slider:nth-child(3) {
  background: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 431px;
}
.slider-container h3{
  font-style: normal;
  font-weight: 500;
  font-size:   55px;
  line-height: 55px;
  margin: 0 auto;
  margin-top: 78px;
}
.slider-container p {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-blue);
  margin-top: 27px;
  margin-bottom: 38px;
}
.sliderswitch {
  position: relative;
  display: flex;
  width: 99px;
  justify-content: space-between;
  justify-self: center;
  top: -66px;
}
.sliderswitch input + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  left: -10px;
  top: 2px;
}
.sliderswitch-input:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #C1C1C1;
  top: 7px;
  left: -5px;
  box-sizing: border-box;
}
.button-slide1,
.button-slide2,
.button-slide3 {
  display: table-cell;
  width: 240px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}
.btn:hover {
  background-color: var(--basic-red-hover);
}
.btn:active {
  background: var(--basic-red-push);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn span:active {
  opacity: 0.3;
}
/* main */
.container {
  display: grid;
  margin-bottom: 80px;
}

.offers-list {
  display: grid;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 100px;
  margin-bottom: 80px;
}

.offers-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.offers-list p {
  margin-bottom: 32px;
}
.offers-list img {
  display: block;
}
.offers-list .button {
  display: table-cell;
  width: 160px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--basic-red);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}
.offers-list-apps .button {
  background: var(--basic-green);
}
.offers-list-apps .button:hover {
  background-color: var(--basic-green-hover);
}
.offers-list-apps .button:active {
  background-color: var(--basic-green-push);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.offers-list-presentations .button {
  background-color: var(--basic-yellow);
}
.offers-list-presentations .button:hover {
  background-color: var(--basic-yellow-hover);
}
.offers-list-presentations .button:active {
  background-color: var(--basic-yellow-push);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.offers-list-web .button:hover {
  background-color: var(--basic-red-hover);
}
.offers-list-web .button:active {
  background-color: var(--basic-red-push);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button span:active {
  opacity: 0.3;
}
.features-colums {
  display: grid;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid var(--basic-light);
  padding-top: 39px;
  margin-bottom: 47px;
}
.features {
  justify-self: start;
  width: 651px;
}
.features-list li {
  padding-bottom: 25px;
  padding-left: 34px;
  position: relative;
}
.features-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  top: 10px;
  left: 0px;
}
.stats {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: end;
  height: 412px;
  width: 360px;
  margin: 0;
}
.stats h4 {
  text-transform: uppercase;
  margin-top: 35px;
  padding-left: 20px;
}
.features h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}
.features-list-stats {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.features-list-stats li {
  padding-right: 22px;
}
.features-list {
  margin: 0;
  padding: 0;
}
.features-stats th{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  text-align: left;
}
.features h4  {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 20px;
}
.partners-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  text-align: center;
  border-top: 2px solid var(--basic-light);
  padding-top: 45px;
  border-bottom: 2px solid var(--basic-light);
  padding-bottom: 26px;
}
.partners-list li {
  position: relative;
}
.partners-list img{
  Opacity: 20%;
}
.partners-list img:hover{
  opacity: 100%;
}
.partners-list img:active{
  opacity: 10%;
}
.partners-list li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light);
  left: -3px;
  top: 16px;
}
.partners-list-academy::after {
  display: none;
}
/*footer*/
.footer {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 68px;
}
.adress-section {
  background-image: url(../img/map1.jpg);
  display: block;
  width: 1440px;
  height: 416px;
  position: relative;
  right: 136px;
}
.adress-form::before {
  background-image: url(../img/map-marker.png);
  position: absolute;
  width: 231px;
  height: 190px;
  content: "";
  left: 819px;
  top: 85px;
}
.adress-form .adress {
  display: block;
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  padding: 50px 50px;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  top: 53px;
  right: 421px;
}
.button-address {
  display: table-cell;
  width: 219px;
  height: 50px;
  background-color: var(--basic-red);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-style: normal;
}
.button:hover {
  background-color: var(--basic-red-hover);
}
.button:active {
  background-color: var(--basic-red-push);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.footer-social {
  display: grid;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: 400px 1fr;
  margin-top: 75px;
}
.social-selection {
  order: -1;
}
.social-list {
  position: relative;
  display: flex;
  width: 261px;
  justify-content: space-between;
}
.social-list a:hover {
  background-color: var(--basic-red-hover);
}
.social-list a:active {
  background-color: var(--basic-red-push);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.social-list img:active {
  color:rgba(255, 255, 255, 0.3)
}
.social-item-vk {
  background-image: url(../img/vk-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-item-fb {
  background-image: url(../img/fb-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-item-inst {
  background-image: url(../img/insta-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-item {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 0;
}
.adress span{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.adress p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 37px;
  margin-top: 22px;
}
.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
}
.modal {
  left: 50%;
  width: 960px;
  height: 590px;
  margin: 0 auto;
  padding: 63px 80px;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 40%);
  background-color: white;
  top: 50%;
  z-index: 100;
  display: none;
  margin-left: -480px;
  margin-top: -300px;
}
.modal-show {
  display: block;
}
.modal-error {
  -webkit-animation: shake .6s;
  animation: shake .6s;
}
.modal-form {
  display: flex;
  flex-wrap: wrap;
}
.modal-item1 {
  width: 360px;
  height: 77px;
  display: grid;
  margin: 0;
  margin-right: 40px;
}
.modal-item2 {
  margin-top: 34px;
}
.text-field {
  width: 760px;
  height: 115px;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 9px;
  padding: 15px;
}
.modal h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-top: 0;
}
.modal label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
.modal-input:invalid {
  color: var(--basic-red-hover);
  border: 2px solid var(--basic-red-hover)
}
.modal-item1 input {
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 15px;
  margin-top: 9px;
}
.modal-form button {
  display: table-cell;
  width: 259px;
  height: 50px;
  background-color: var(--basic-red);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-style: normal;
  border: hidden;
  margin-top: 47px;
}
.modal-close {
  position: absolute;
  font-size: 0;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 0;
  background: none;
  background-image: url(../img/close-cross.png);
  opacity: 0.3;
}
.modal-close:hover {
  opacity: 100%;
}
.modal-close:active {
  opacity: 10%;
}
/*Catalog*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.filter {
  margin-top: 20px;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
.main-catalog fieldset{
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 10px;
}
.filters ul {
  margin: 0;
  padding-bottom: 25px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 4px solid var(--basic-grey);
  border-radius: 50%;
  opacity: 60%;
}
.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after{
  opacity: 100%;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -30px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-grey);
  border-radius: 50%;
  opacity: 60%;
}
.filter-checkbox-item + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  left: -40px;
  opacity: 60%;
}
.filter-checkbox-item + label:hover::before,
.filter-checkbox-item:checked + label:hover:before{
  opacity: 100%;
}
.filter-checkbox-item:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/Component\ 1.svg);
  background-repeat: no-repeat;
  opacity: 60%;
  width: 25.74px;
  height: 26.76px;
  border-radius: 3px;
  left: -40px;
  top: 0px;
}
.catalog-name {
  margin: auto;
  padding-top: 72px;
  padding-bottom: 108px;
  text-align: center;
}
.main-catalog {
  margin: auto;
  width: 1160px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 400px 760px;
  margin-top: 55px;
}
.catalog-filter {
  display: grid;
  grid-template-columns: 1fr 360px;
  margin-bottom: 41px;
}
.filter-option {
  margin-bottom: 20px;
}
.filter-option-label {
  padding-left: 10px;
}
.catalog-sort {
  display: flex;
  padding: 0;
}

.main-catalog .catalog-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 800px;
  margin: 0;
  padding: 0;
}

.catalog-item {
  max-width: 360px;
  max-height: 577px;
  margin-right: 42px;
  margin-bottom: 32px;
  position: relative;
}
.catalog-item img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
}
.catalog-items li {
  margin-top: 30px;
}
.catalog-item::before{
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--basic-grey);
  top: -39px;
  opacity: 12%;
}
.catalog-item::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  top: -25px;
  left: 39px;
  box-shadow: -25px 0 0 0 var(--basic-white), 25px 0 0 0 var(--basic-white);
}
.catalog-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}
.catalog-item:hover::before{
  opacity: 100%;
}
.catalog-item:hover .card-price {
  display: block;
}
.card-price {
  width: 360px;
  height: 231px;
  background-color: var(--basic-light);
  position: absolute;
  top: 350px;
  text-align: center;
  display: none;
}
.card-price h3{
  margin-top: 26px;
}
.card-price h3:hover {
  color: var(--basic-red)
}
.card-price .button {
  display: table-cell;
  width: 200px;
  height: 50px;
  background-color: var(--basic-red);
  border-radius: 3px;
  border: none;
  color: var(--basic-white);
}
.card-price .button:hover {
  background-color: var(--basic-red-hover);
}
.card-price .button:active {
  background-color: var(--basic-red-push);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.main-catalog h3{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.filter-button {
  background-color: var(--basic-light);
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.filters .filter-button:hover {
  background-color: var(--basic-light-hover);
}
.filters .filter-button:active {
  background-color: var(--basic-light-push);
}

.filters label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark-blue);
  padding: 0;
}
.filter-range p{
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-blue);
}

.catalog a{
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.catalog-sort-item{
  opacity: 30%;
  padding-right: 30px;
  text-transform: uppercase;
}
.catalog-sort-item:hover{
  opacity: 60%;
}
.catalog-sort-item:active{
  opacity: 100%;
}
.catalog-sort-item-active,
.catalog-sort-item-active:active,
.catalog-sort-item-active:hover{
opacity: 100%;
}
.catsotitrad-1{
  opacity: 100%;
}
.sort-radio-btn{
  opacity: 30%;
}
.sort-radio-btn:hover{
  opacity: 60%;
}
.sort-radio-btn:active{
  opacity: 100%;
}
.sort-radio-btn-active,
.sort-radio-btn-active:active
.sort-radio-btn-active:hover{
  opacity: 100%;
}

.sort-radio-btn-active::before{
  content: "";
  background-image: url("../img/icons/icon-down-dir.svg");
  width: 11px;
  height: 10px;
  top: 6px;
  left: 1px;
  position: absolute;
}

.sort-radio-btn-passive::before{
  content: "";
  background-image: url("../img/icons/icon-up-dir.svg");
  width: 11px;
  height: 10px;
  top: 6px;
  left: 36px;
  position: absolute;
}

.catalog-sort-item-radio {
  position: relative;
}
.catalog-item-sed-price{
  background-color: var(--basic-light);
}
.catalog-item-sed-price h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.catalog-item-sed-price p{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-neutral);
}
.pagination-list {
  display: flex;
  padding: 0;
  margin-bottom: 60px;
}
.pagination-item a{
  display: table-cell;
  width: 47px;
  height: 47px;
  background-color: var(--basic-light);
  border-radius: 3px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}
.pagination-item {
  padding: 10px;
}
.pagination-item-current{
  background-color: var(--basic-white);
  padding-left: 0;
}

.pagination-next a{
  width: 260px;
  height: 50px;
}
.pagination-item a:hover{
  background-color: var(--basic-light-hover);
}
.pagination-item a:active{
  background-color: var(--basic-light-push);
  opacity: 30%;
}
.pagination-next .pagination-item a{
  width: 260px;
  height: 50px;
  background-color: var(--basic-light);
  border-radius: 3px;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid var(--basic-light-dark);
  background-color: var(--basic-white);
  box-sizing: border-box;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
