@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
        font-weight: 400;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-size: normal;
}
/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark-blue: #283136;
  --basic-neutral: #666666;
  --basic-grey: #4D4D4D;
  --basic-light: #eeeeee;
  --basic-light-hover: #DFDFDF;
  --basic-light-push: #D5D5D5;
  --basic-dark: #444444;
  --basic-extra-light: #f8f5f2;
  --basic-light-dark: #dbdbdb;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-push: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-push: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-push: #E5A722;
}
/* Global */
.page-body {
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(---basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}
.header {
  margin-bottom: 0;
  padding-top: 75px;
}

/* Header */
.navigation {
  display: grid;
  width: 1160px;
  grid-template-columns: min-content 1fr min-content;
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--basic-light)
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 437px;
  justify-content: space-between;
  justify-self: center;
}
.site-cart {
  margin-top: 20px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-light);
}

.site-navigation a,
.site-cart a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-cart a:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.site-cart a:focus {
  opacity: 30%;
}
.navigation-logo {
  width: 160px;
  order: 0;
}
.header {
  background-color: var(--basic-light);
}

/*main*/

h1 {
 display: none;
}
.slider-main {
  background-color: var(--basic-light);
}
.slider-container {
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 1157px;
  background-color: var(--basic-light);
}
.catalog-name {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-light);
}
.slider {
  display: grid;
  width: 1157px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-light);
  grid-template-columns: 1fr 1fr min-content;
}
.slide1-img {
  order: 1;
}
.slider-container h3{
  font-style: normal;
  font-weight: 500;
  font-size:   55px;
  line-height: 55px;
}
.slider-container p {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-blue);
}
.sliderswitch {
  display: flex;
  width: 88px;
  justify-content: space-between;
  justify-self: center;
}
.button-slide1,
.button-slide2,
.button-slide3 {
  display: table-cell;
  width: 240px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}
.btn:hover {
  background-color: var(--basic-red-hover);
}
.btn:active {
  background: var(--basic-red-push);
}
/* main */
.offers {
 margin-top: 40px;
 margin-bottom: 77.5px;
}
.offers-list {
  display: grid;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.offers-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.features-colums {
  display: grid;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: 1fr 1fr;
}
.features {
  justify-self: start;
  width: 651px;
}
.stats {
  justify-self: end;
  width: 360px;
}
.features h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.features-list-stats {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
.features-list-stats span {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.features h4  {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 80px;
}
/*footer*/
.adress {
  display: grid;
  grid-template-columns: 1fr;
  width: 1157px;
  margin: 0 auto;
}
.footer-social {
  display: grid;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: min-content 1fr;
  margin-top: 75px;
}
.social-selection {
  order: -1;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 261px;
  margin: 60px;
}
.social-item {
  margin: 20px;
}

.discount {
text-align: left;
justify-self: center;
}
.adress h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.adress p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.modal {
  width: 1157px;
  margin: 0 auto;
  padding: 0;
}
.modal h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}
.modal label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover {
  background-color: var(--basic-red-hover);
}

.button:active {
  background-color: var(--basic-red-push);
}
/*Catalog*/
.catalog-name {
  margin: auto;
  padding-top: 72px;
  padding-bottom: 108px;
  text-align: center;
 }
.main-catalog {
  margin: auto;
  width: 1160px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.catalog-filter {
  display: grid;
  grid-template-columns: 1fr;
}
.catalog-sort {
  display: flex;
  margin-left: 510px;
}

.main-catalog .catalog-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 800px;
}
.catalog-item{
  width: 360px;
  min-height: 580px;
  margin-right: 42px;
  margin-bottom: 72px;
}
.filters h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.filter-button {
  background-color: var(--basic-light);
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.filters .filter-button:hover {
  background-color: var(--basic-light-hover);
}
.filters .filter-button:active {
  background-color: var(--basic-light-push);
}

.filters label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark-blue);
}

.filter-range p{
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-blue);
}
.filter-range {
  width: 260px;
  height: 80px;
  background-color: var(--basic-light);
}

.catalog a{
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.catalog-sort-item{
  opacity: 30%;
}

.catalog-sort-item:hover{
  opacity: 60%;
}
.catalog-sort-item:active{
  opacity: 100%;
}
.catalog-sort-item-active,
.catalog-sort-item-active:active,
.catalog-sort-item-active:hover{
opacity: 100%;
}
.catsotitrad-1{
  opacity: 100%;
}
.sort-radio-btn{
  opacity: 30%;
}
.sort-radio-btn:hover{
  opacity: 60%;
}
.sort-radio-btn:active{
  opacity: 100%;
}
.sort-radio-btn-active,
.sort-radio-btn-active:active
.sort-radio-btn-active:hover{
  opacity: 100%;
}
.catalog-item-sed-price{
  background-color: var(--basic-light);
}
.catalog-item-sed-price h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.catalog-item-sed-price p{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-neutral);
}
.pagination-list {
  display: flex;
}
.pagination-item a{
  display: table-cell;
  width: 47px;
  height: 47px;
  background-color: var(--basic-light);
  border: 3px solid var(--basic-light-dark);
  border-radius: 3px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}
.pagination-item {
  padding: 10px;
}
.pagination-item-current{
  background-color: var(--basic-white);
}

.pagination-next a{
  width: 260px;
  height: 50px;
}
.pagination-item a:hover{
  background-color: var(--basic-light-hover);
}
.pagination-item a:active{
  background-color: var(--basic-light-push);
  opacity: 30%;
}
.pagination-next .pagination-item a{
  width: 260px;
  height: 50px;
  background-color: var(--basic-light);
  border-radius: 3px;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid var(--basic-light-dark);
  background-color: var(--basic-white);
}
