@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
        font-weight: 400;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-size: normal;
}
/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark-blue: #283136;
  --basic-neutral: #666666;
  --basic-grey: #4D4D4D;
  --basic-light: #eeeeee;
  --basic-light-hover: #DFDFDF;
  --basic-light-push: #D5D5D5;
  --basic-dark: #444444;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-push: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-push: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-push: #E5A722;


  --special: #663d15;
}
/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(---basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--basic-light)
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-light);
}

.site-navigation a,
.site-cart a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-cart a:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.site-cart a:focus {
  opacity: 30%;
}

h1 {
  display: none;
}
.catalog-name {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-light);
}
.slider-container {
  background-color: var(--basic-light);
}
.slider-container h2 {
  font-weight: 500;
  font-size:   55px;
  line-height: 55px;
}
.slider-container p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-blue);
}

.offers-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.offers .offers-list {
  display: flex;
  justify-content: space-around;
}

.features h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.features-list-stats {
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
.features-list-stats span {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.features h4  {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.adress h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.adress p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.modal h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}
.modal label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover {
  background-color: var(--basic-red-hover);
}

.button:active {
  background-color: var(--basic-red-push);
}

.filters h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.filters .button {
  background-color: var(--basic-light);
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
}

.filters .button:hover {
  background-color: var(--basic-light-hover);
}
.filters .button:active {
  background-color: var(--basic-light-push);
}

.filters label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark-blue);
}

.filter-range p{
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-blue);
}

.catalog a{
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.catalog-sort-item{
  opacity: 30%;
}

.catalog-sort-item:hover{
  opacity: 60%;
}
.catalog-sort-item:active{
  opacity: 100%;
}
.catalog-sort-item-active,
.catalog-sort-item-active:active,
.catalog-sort-item-active:hover{
opacity: 100%;
}
.catsotitrad-1{
  opacity: 100%;
}
.sort-radio-btn{
  opacity: 30%;
}
.sort-radio-btn:hover{
  opacity: 60%;
}
.sort-radio-btn:active{
  opacity: 100%;
}
.sort-radio-btn-active,
.sort-radio-btn-active:active
.sort-radio-btn-active:hover{
  opacity: 100%;
}
.catalog-item-sed-price{
  background-color: var(--basic-light);
}
.catalog-item-sed-price h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.catalog-item-sed-price p{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-neutral);
}
.pagination-item a {
  background-color: var(--basic-light);
}
.pagination-item a:hover{
  background-color: var(--basic-light-hover);
}
.pagination-item a:active{
  background-color: var(--basic-light-push);
  opacity: 30%;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-white);
}
